body{
    width:640px;
    height: {{body.height}}px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
header{
    height: 30px;
    width: 620px;
    padding: 10px;

    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: "fantasy";
    text-shadow: 2px 2px 2px black;
}
.header-title {
    float: left;
}
.header-option {
    float: right;
}
div.discord{
    width: 620px;
    height: 120px;
    padding: 0px 10px;
    position: relative;
}
.ss{

    width:640px;
    height: {{body.height}}px;
    background: #ffffff url({{backgroundImg}});
    border-radius: 30px;
    background-size: cover;
}
.ssa {
    width:640px;
    height: {{body.height}}px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
div.avater{
    float: left;
}
img.avater {
    border-radius: 10px;
    border: 8px solid gold;
}
div.name{
    margin: 0px;
    padding: 0px 0px;
    font-size: 35px;

    color: #ffffff;
    font-weight: bold;
    font-family: "fantasy";
    text-shadow: 2px 2px 2px black;
}

div.discord-ign {
    position: absolute;
    top: 70px;
    left: 130px;
    font-weight: bold;
}
div.discord-join-at {
    position: absolute;
    top: 70px;
    right: 20px;
}

div.game-info{
    width: 640px;
    height: 110px;
    background: rgba(255, 255, 255, 0.5);
}
img.logo {
    float: left;
}

p.ign{
    font-size: 30px;
    font-weight: bold;
    
    color: black;
}
div.role{
    background-color: {{discord_role.color}};
    margin: 0px 100px;
    width:200px;
    color: #ffffff;
    font-weight: bold;
}
div.join-at{
    color: blue;
    font-weight: bold;
}
p.option-title{
    font-size: 15px;
}
p.option-info{
    font-size: 20px;
}
footer {
    width: 620px;
    height: 30px;
    padding: 10px;
}
div.create{
    float: right;
    margin-top: 10px;
}
p{
    margin: 0px 5px;
}